<!DOCTYPE html>
<html lang="{{i18n "html.lang"}}">
<head>
    {{#block "header"}}
        {{>layout_signin/header}}
    {{/block}}
</head>
<body class="login">
    {{#block "content"}}
        {{>layout_signin/dummy_content}}
    {{/block}}
    {{#block "scripts"}}
        {{>layout/scripts}}
    {{/block}}
</body>
</html>