<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-12">
                        <h3>Title</h3>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    Content
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
