<!DOCTYPE html>
<html lang="{{i18n "html.lang"}}">
<head>
    {{#block "header"}}
        {{>layout_login/header}}
    {{/block}}
</head>
<body class="login">
    {{#block "content"}}
        {{>layout_login/dummy_content}}
    {{/block}}
    {{#block "scripts"}}
        {{>layout_login/scripts}}
    {{/block}}
</body>
</html>