{{#partial "content"}}
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form id="signupForm" method="post">
                    <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
                    <input type="hidden" id="name" name="name" value=""/>
                    <h1>Create Account</h1>
                    <div>
                        <input type="text" id="id" name="id" class="form-control" placeholder="Username" required=""/>
                    </div>
                    <div>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required=""/>
                    </div>
                    <div>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required=""/>
                    </div>
                    <div>
                        <button type="submit" id="submitButton" class="btn btn-default submit">Submit</button>
                        <!--a id="submitButton" class="btn btn-default submit" href="#">Submit</a-->
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">Already a member ?
                            <a href="/login/form" class="to_register"> Log in </a>
                        </p>

                        <div class="clearfix"></div>
                        <br />

                        {{>layout_login/copyright}}
                    </div>
                </form>
            </section>
        </div>
    </div>
{{/partial}}

{{#partial "scripts"}}
<script>
    $(document).ready(function() {
        $("#id").focus();
    });

    $("#signupForm").submit(function(e) {
        e.preventDefault();

        $("#name").val($("#id").val());
        $(".login_error").remove();

        var params = $("#signupForm").serialize();

        $.ajax({
            url: 'signup',
            type: 'post',
            data: params,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            dataType: 'json',
            success: function(response) {
                if (response.success) {
                    location.href = "/";
                } else {
                    $.each(response.errors, function(key, value) {
                        /*
                        // TODO : TIPSTER example
                        $("input[name='" + key + "']").not(":hidden").tooltipster({
                            theme: 'tooltipster-noir',
                            side: 'right',
                            trigger: 'custom',
                            triggerClose: {
                                mouseleave: false,
                                originClick: true,
                                touchleave: false
                            },
                            content: value
                        }).tooltipster('open');
                        */
                        $("input[name='" + key + "']")
                                .not(":hidden")
                                .parent()
                                .append("<div class='login_error'>" + value + "</div>");
                    });
                }
            },
            error: function (e) {
                console.log("error result : " + e.responseText);
                var json = "<h4>Ajax Response</h4><pre>"
                        + e.responseText + "</pre>";
                $('#feedback').html(json);

                console.log("ERROR : ", e);
                $("#btn-search").prop("disabled", false);
            }
        });
    });

</script>
{{/partial}}

{{>layout_login/layout}}
